$blue-alpha: rgb(31, 39, 66);
$blue-beta: rgb(35, 43, 57);
$blue-gamma: rgb(34, 40, 49);
$blue-delta: rgba(41, 55, 91);
$blue-epsilon: rgba(33, 39, 45);
$gray-alpha: rgb(50, 59, 68);
$gray-beta: rgb(34, 42, 52);
$gray-gamma: #5d6e7f;
$gray-delta: rgb(141, 152, 164);
$gray-epsilon: rgb(174, 181, 189);
$white: white;
$white-alpha: rgb(238, 238, 238);
