.header {
  height: 80px;
  background: linear-gradient(0deg, rgb(35, 43, 57), rgb(34, 40, 49)) no-repeat;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(69, 69, 69, 1);
}
