@import "@/app/styles/colors.scss";

.menu-item {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
  color: $white;
  background-color: transparent;
  border: none;
  .indicator {
    position: absolute;
    top: 0;
    width: 30px;
    height: 4px;
    background-color: $white;
    border-radius: 0 0 4px 4px;
  }
  .text {
    font-size: 10px;
    font-weight: 700;
  }
}
