@import "@/app/styles/colors.scss";

.search-input-wrapper {
  margin: 0 0 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  cursor: pointer;

  .text {
    color: $gray-delta;
  }

  &:hover {
    .text {
      color: $white;
    }
  }
}
