@import "@/app/styles/colors.scss";

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 256px;
  height: 100%;
  z-index: 6;
  background: linear-gradient(90deg, $blue-delta -54.38%, $blue-epsilon 134.38%)
    no-repeat;
  border-left: 1px solid rgba(69, 69, 69, 1);

  .logo-wrapper {
    display: flex;
    justify-content: end;
    margin: 24px 28px 40px auto;
  }

  &.collapsed {
    width: 60px;

    .logo-wrapper {
      justify-content: center;
      margin: 24px auto 40px;
    }
  }
}
