.home-page {
  display: grid;
  grid-template-columns: 1fr 256px;
  grid-template-rows: 80px 1fr;
  main {
    height: calc(100vh - 80px);
    display: grid;
    grid-template-rows: 1fr 1fr;
  }
}
