@import "@/app/styles/colors.scss";

.categories {
  background: radial-gradient(
    50% 50% at 62.24% 50%,
    $blue-delta 0%,
    $blue-epsilon 100%
  );
  display: grid;
  padding: 18px;
  grid-gap: 18px;
  grid-template-columns: repeat(3, 1fr);
  @media screen and (max-width: 1200px) {
    grid-template-columns: repeat(2, 1fr);
  }
}
